{% load crispy_forms_tags %}

{% comment %}
<form {% if form_id %} id='{{ form_id }}' {% endif %} class='form' method='POST'>
                              action="{% if action_url %}{{ action_url }}{% endif %
   {% csrf_token %}
    {{ form|crispy }}
    <input class='btn btn-primary' type="submit" value="{{ btn_title }}" />
</form>
{% endcomment %}

<form class='my-list' action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Save" />
</form>