{% extends 'base/base.html' %}

{% block title %} Login site {% endblock %}
{% block body %}
<style media="screen">

* {
    box-sizing:border-box;

}
body, html {
    height: 100%;
    margin: 0;
    background-image: url('/static/bgyellow.jpg');
}

.login-bg-img {
  background-image: url("/static/login_bg.jpg");
  background-position: center;
  background-size: 70% 100%;
  background-repeat: no-repeat;
  height: 100%;
  position: static;
}
.login_wrapper{
  position:absolute;
  top:50%;
  left:50%;
  padding-top: 0%;
  padding: 10%;
  opacity: 0.9;
  background-color: lightgreen;
  transform: translate(-50%, -50%);
  border: 1px solid black;

}
.login_wrapper form, input, a{
  display: inline;
  float:none;
}
.login_wrapper li{
  list-style-type: none;

}
.login_input{
  font-size:15px;
  width:167px;
}
input[type=submit]{
  font-size:15px;
  width:167px;
}
#signup{
  font-size:15px;
  text-decoration:none;
}
#signup:hover{
  color:green;

}
</style>
<div class="login-bg-img">

<div class="login_wrapper">
  <form action="" method="post">
  {% csrf_token %}
  {{form.as_ul}}
  <br>
  <input type="submit" name="Login" value="Login">
  </form>
  <br>
  <br>
<a href='signup/' id="signup">Sign up</a>
</div>
</div>
{% endblock %}
