{% extends 'base.html' %}

{% block title %} Main site {% endblock %}
{% block body %}
<style>
body{
  padding-top: 0px;
  margin-top: 50px;
  margin-left:0px;
  border-top: 0px;
  background-image: url('/static/bgyellow.jpg');

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFF8DC;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main{
 padding-left: 1%;
}

</style>
<ul class="menuList">
  <li><a href="/main/">Main</a></li>
    {% for child in children %}
        <li><a href="{{ child.get_absolute_url }}">Show {{ child.name }}</a></li>
    {% endfor %}

  <li><a href="#">Show payments</a></li>
  <li><a href="{{ parent.get_absolute_url }}"> Profile </a> </li>
  <li><a href="/logout/">Logout</a></li>
</ul>

<div class="main">



    <h1>This is the main site!</h1>
    <p>Hi {{ user }}!</p>




</div>


{% endblock %}
